{include file="layouts/header" /}
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="" style="height: 50px;line-height: 50px;margin-bottom: 0;border-radius: 0;background-color: #fff;box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);">
	    <div style="border-top: 1px solid #f6f6f6;padding: 0 15px;font-size: 0;height: 50px;line-height: 50px;margin-bottom: 0;border-radius: 0;">
		    <span class="layui-breadcrumb" >
			  <a href="" style="font-style: 微软雅黑;" >用&nbsp;户</a>
			  <a style=""><cite>用户列表</cite></a>
			</span>


	    </div>
	</div>

	<!-- 内容主体 -->
<div style="padding: 15px;position: relative;margin: 0 auto;height: 90%;">
    	<div style="margin: -4.5px;">
    		<div style="padding: 7.5px;width: 100%;float: left;background-color: #fff;margin-bottom: 25px;height: 100%;">

    			<div class="layui-container" style="width: 100%;padding: 0 0px">
    				    			<!-- 搜索区域 -->
				  <div class="layui-row">
				    <div class="layui-col-md4">
				      <label style="font-size: 16px;font-family: 微软雅黑;">搜&nbsp;索&nbsp;：</label>
				    </div>

				    <div class="layui-col-md8" style="padding-right: 20px;">
				    	<div class="layui-row ">
				      		
					      	<div class="layui-col-md2">
					      		<input type="text" name="title"  placeholder="手机号" autocomplete="off" class="layui-input" id="mobileser">
					      	</div>
					      	<div class="layui-col-md2">
					      		<input type="text" name="title"  placeholder="请输入用户昵称" autocomplete="off" class="layui-input" id="nameser">
					      	</div>
					      	<div class="layui-col-md2">
							      <input type="text" name="title"  placeholder="请输入用户ID" autocomplete="off" class="layui-input" id="idser">
					      	</div>

						    <div class="layui-col-md2">
						       <div class="layui-form">
							      	<select name="interest" lay-filter="aihao" id="blackser">
							      		<option value="0">是否黑名单</option>
							        	<option value="1">否</option>
							        	<option value="2">是</option>
							      	</select>
							    </div> 
						    </div>
						    <div class="layui-col-md2">
						       <div class="layui-form">
							      	<select name="interest" lay-filter="aihao" id="isdriver">
							      		<option value="0">是否骑手</option>
							        	<option value="1">否</option>
							        	<option value="2">是</option>
							      	</select>
							    </div> 
						    </div>
						    <div class="layui-col-md2">
						    	<div style="margin-left: 10px;">
						        	<button class="layui-btn" id="searchbtn">搜&nbsp;&nbsp;索</button>
						    	</div>
						    </div>
				      	</div>
				    </div>
				 </div>

				 <div class="layui-row">
					<label style="">用户数量：{$member_count}</label>
				 </div>

				</div>

				<hr>
				<!-- 表格区域 -->
				<div>
					<table id="tabledemo" lay-filter="tabledemo"></table>
				</div>


    		</div>

    	</div>

    </div>


  </div>

 <div id='prevModal'>
	<div class="layui-form">
	  <div class="layui-form-item">
	    <label class="layui-form-label">积分抵扣</label>
	    <div class="layui-input-block" style="width: 300px;">
			<input type="text" name="point"  class="layui-input" value="20" disabled="">
			<input type="hidden" name="userid"  class="layui-input" value="" >
	    </div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">过期时间</label>
	    <div class="layui-input-block" style="width: 300px;">
			<input type="text" class="layui-input" name="expiration" id="expiration" placeholder="过期时间">
	    </div>
	  </div>
	  <div class="layui-form-item">
	    <label class="layui-form-label">数量</label>
	    <div class="layui-input-block" style="width: 300px;">
			<input type="number" max="10" min="1" name="count"  class="layui-input" value="1" placeholder="请填写1-10的整数">
	    </div>
	  </div>
		<div style="margin-top: 20px;text-align: center;">
			<button class="layui-btn layui-btn-fluid" style="width: 400px;" lay-submit>保存修改</button>
		</div>
			
	</div>
</div>


	  <script type="text/javascript">
	  	var bool = true;
	  	layui.use(['form','table', 'laydate'], function(){
		  var form = layui.form;
		  var laydate = layui.laydate;

		//表格
		  var table = layui.table;
	  
		  table.render({
		    elem: '#tabledemo'
		    ,url:'/index/member/memberlist/'
		    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
		    ,cols: [[
		      {field:'id', width:80, title: 'ID', sort: true}
		      ,{field:'name',  title: '用户名'}
		      ,{field:'openid',  title: 'openid'}
		      ,{field:'mobile',  title: '手机号'}
		      ,{field:'point', title: '积分', sort: true}
		      ,{field:'status', title: '状态', sort: true}
		      ,{field:'typetext', title: '骑手'}
		      ,{field:'regtime', width:137, title: '注册时间', sort: true}
		      ,{field:'',title:'操作',toolbar: '#barDemo'}
		    ]]
		    ,response: {
  				statusCode: 200 //成功的状态码，默认：0
			} 
			,page: true
			,limit: 30
			,limits: [15,30,50,100]    
		  });

		  		  //监听点击事件
		  	table.on('tool(tabledemo)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
			  var data = obj.data; //获得当前行数据
			  var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
			  var tr = obj.tr; //获得当前行 tr 的DOM对象

			  if(layEvent === 'detail'){ //查看
			  	
			  } else if(layEvent === 'giftred'){ //接单
			  	var id = data.id;
			  	$("input[name='userid']").val(id);
			  	layer.open({
				  type: 1,
				  title: '赠送优惠券',
				  closeBtn: 1,
				  area: ['auto','auto'],
				  // skin: 'layui-layer-nobg', //没有背景色
				  shadeClose: true,
				  content: $('#prevModal')
				});

			  	return;
			  } 

			});

			form.on('submit()', function(data){
			  	// console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
			  	// console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
			  	console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
				if (!bool) {layer.msg('操作频繁！');return false;}
				bool = false;
				if (!data.field.expiration) {layer.msg('请填写过期时间');bool = true;return false;}
				if (!data.field.count) {layer.msg('请填写生成数量');bool = true;return false;}

				$.post("/index/member/giftred",data.field,function(rtn){
				  if(rtn.code==200){
				    layer.msg(rtn.msg);
				    setTimeout(function(){
				      bool = true;
				    },2000);
				  }else{
				  	bool = true;
				    layer.msg(rtn.msg);
				  }
				},"json");
			  return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			});

			laydate.render({
			    elem: '#expiration' //指定元素
			    ,type:'datetime'
			});

		  //搜索时间
		  $(document).on('click','#searchbtn',function(){
		  	//执行表格重载
		      table.reload('tabledemo', {
		        page: {
		          curr: 1 //重新从第 1 页开始
		        }
		        ,where: {
	            	id: $('#idser').val(),
	            	black: $('#blackser').val(),
	            	name: $('#nameser').val(),
	            	isdriver: $('#isdriver').val(),
	            	mobile: $('#mobileser').val()
		        }
		      });
		  });

		});

	  	$(document).on('click', '.memberedit', function(event) {
	  		var id = $(this).attr("data-id");
	  		window.open("/index/member/edit?id="+id);
	  	});
	  	//监听回车事件
		$(document).keyup(function(event) {
		  if (event.keyCode ==13) {
		    $("#searchbtn").trigger("click");
		  }
		});
	</script>
  	<script type="text/html" id="barDemo">
	  <a class="layui-btn layui-btn-xs memberedit" lay-event="edit" data-id="{{d.id}}">编辑</a>
	  <a class="layui-btn layui-btn-xs " lay-event="giftred" data-id="{{d.id}}">赠送优惠券</a>
	</script>
  <style type="text/css">
  	html {background-color: #f2f2f2;color: #666;}
  	#prevModal {display:none;width:500px; height:300px;padding: 20px}
  </style>
{include file="layouts/footer" /}