{include file="layouts/header" /}
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="" style="height: 50px;line-height: 50px;margin-bottom: 0;border-radius: 0;background-color: #fff;box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);">
	    <div style="border-top: 1px solid #f6f6f6;padding: 0 15px;font-size: 0;height: 50px;line-height: 50px;margin-bottom: 0;border-radius: 0;">
		    <span class="layui-breadcrumb" >
			  <a href="" style="font-style: 微软雅黑;" >设&nbsp;置</a>
			  <a style=""><cite>新增幻灯片</cite></a>
			</span>
	    </div>

	</div>

	<!-- 内容主体 -->
    <div style="padding: 15px;position: relative;margin: 0 auto;height: 90%;">
    	<div style="margin: -4.5px;height: 100%;">
    		<div style="padding: 7.5px;width: 100%;float: left;background-color: #fff;margin-bottom: 0;height: 100%;">

    			<div class="layui-container" style="width: 100%;padding: 0 0px">
    				    			<!-- 搜索区域 -->
				  <div class="layui-row" style="text-align: center;">
				      <label style="font-size: 24px;font-family: 微软雅黑;margin-left: auto; margin-right: auto;">幻灯片</label>

				 </div>
				</div>

				<hr>
				<!-- 表单区域 -->
				<div>
					<div class="layui-form">

						<div class="layui-form-item">
						    <label class="layui-form-label" style="width: 120px;">id</label>
						    <div class="layui-input-block" style="margin-left: 160px;">
						      <input type="text" name="id"  class="layui-input" value="{$image.id}" disabled="">
						    </div>
						  </div>
						  <div class="layui-form-item">
						    <label class="layui-form-label" style="width: 120px;">幻灯片标题</label>
						    <div class="layui-input-block" style="margin-left: 160px;">
						      <input type="text" name="title"  class="layui-input" value="{$image.title}">
						    </div>
						  </div>
						  <div class="layui-form-item">
						    <label class="layui-form-label" style="width: 120px;">链接</label>
						    <div class="layui-input-block" style="margin-left: 160px;">
						      <input type="text" name="url"  class="layui-input" value="{$image.url}">
						    </div>
						  </div>
						  <div class="layui-form-item">
						  	<h2 style="width:120px;text-align: right;padding: 9px 15px;">幻灯片图片</h2>
							<div style="margin-left: 120px;">
								<p>注意上传图片的比例</p>
								<img src="{$image.path}" width="400" height="300" alt="Flowers" onerror="notfound();" id="viewimage" data-bool="0">
							</div>
							
						  </div>

						  <div class="layui-form-item">
						    <button type="button" class="layui-btn" id="buttonadd" style="margin-left: 120px;">
							  <i class="layui-icon">&#xe67c;</i>上传图片
							</button>
						  </div>
						
 						<div style="margin-top: 20px;"></div>
 						<div class="layui-btn-container">
	 						<button class="layui-btn layui-btn-fluid" lay-submit>提交修改</button>
	 						<button class="layui-btn layui-btn-fluid layui-btn-primary" id="back">点击返回上一页</button>
 						</div>
					</div>

				</div>


    		</div>

    	</div>

    </div>

  </div>
	  <script type="text/javascript">
	  	var bool = true;
	  	layui.use(['form','upload'], function(){
		  	var form = layui.form;
		  	var upload = layui.upload; //得到 upload 对象
 
			//创建一个上传组件
			upload.render({
			  elem: '#buttonadd'
			  ,url: '/index/setting/imageadd'
			  ,done: function(res, index, upload){ //上传后的回调
			  		if (res.code == 200) {
			  			$("#viewimage").attr("src",res.path);
			  			// $("#viewimage").attr("data-bool",'1');
			  		}else{
			  			layer.msg(res.msg);
			  		}
			  } 
			  ,accept: 'file' //允许上传的文件类型
			  ,size: 2*1024 //最大允许上传的文件大小
			  //,……
			})

		  	form.on('submit()', function(data){
				if (!bool) {return false;}
				bool = false;
				var id = data.field.id;
				var title = data.field.title;
				var url = data.field.url;
				var path = $("#viewimage").attr("src");
				if (title == "") {layer.msg("标题不能为空");bool = true;return false;}else if(title.length > 10){layer.msg("标题不能超过10个字");bool = true;return false;}
				// if ($("#viewimage").attr("data-bool") != '1') {layer.msg("幻灯片为空");return false;}

			  	var data = {"title":title,"path":path,'url':url,"id":id};
				$.post("/index/setting/imageedit",data,function(rtn){
				  if(rtn.code==200){
				    layer.msg(rtn.msg);
				  }else{
				    layer.msg(rtn.msg);        
				  }
				  bool = true;
				},"json");

			  	return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			});


		});

		$("#back").click(function(event) {
			history.go(-1);
		});

	  	//图片未找到
	  	function notfound(){ 
			var img=event.srcElement; 
			img.src="/static/image/base/notfound.png"; 
			img.onerror=null; //控制不要一直跳动 
		} 
	</script>
  	<script type="text/html" id="barDemo">
	  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
	  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	</script>
  <style type="text/css">
  	html {background-color: #f2f2f2;color: #666;}
  	img {
	    border: 1px solid #ddd;
	    border-radius: 4px;
	    padding: 5px;
	}
  </style>
{include file="layouts/footer" /}