{include file="layouts/header" /}
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="" style="height: 50px;line-height: 50px;margin-bottom: 0;border-radius: 0;background-color: #fff;box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);">
	    <div style="border-top: 1px solid #f6f6f6;padding: 0 15px;font-size: 0;height: 50px;line-height: 50px;margin-bottom: 0;border-radius: 0;">
		    <span class="layui-breadcrumb" >
			  <a href="" style="font-style: 微软雅黑;" >设&nbsp;置</a>
			  <a style=""><cite>全局参数</cite></a>
			</span>
	    </div>

	</div>

	<!-- 内容主体 -->
    <div style="padding: 15px;position: relative;margin: 0 auto;height: 90%;">
    	<div style="margin: -4.5px;height: 100%;">
    		<div style="padding: 7.5px;width: 100%;float: left;background-color: #fff;margin-bottom: 0;height: auto;">

    			<div class="layui-container" style="width: 100%;padding: 0 0px">
    				    			<!-- 搜索区域 -->
				  <div class="layui-row" style="text-align: center;">
				      <label style="font-size: 24px;font-family: 微软雅黑;margin-left: auto; margin-right: auto;">全局参数设置</label>

				 </div>
				</div>

				<hr>
				<!-- 表单区域 -->
				<div>
					<div class="layui-form">
			      		{volist name="array" id="v"}
						  <div class="layui-form-item trclass">
						    <label class="layui-form-label" style="padding-right: 2px">{$i}：</label>
						    <label class="layui-form-label" style="width: 120px;">参数名称</label>
						    <div class="layui-input-inline" >
						      <input type="text" name="param"  class="layui-input" value="{$v.k}">
						    </div>
						    <label class="layui-form-label" style="width: 120px;">参数值</label>
						    <div class="layui-input-inline" >
						      <input type="text" name="value" class="layui-input" value="{$v.v}">
						    </div>
						    <label class="layui-form-label" style="width: 120px;">参数描述</label>
						    <div class="layui-input-inline" >
						      <input type="text" name="descrip" class="layui-input" value="{$v.s}">
						    </div>
						  </div>
						{/volist}

					  <div class="layui-form-item trclass">
					    <label class="layui-form-label" style="padding-right: 2px">新参数：</label>
					    <label class="layui-form-label" style="width: 120px;">参数名称</label>
					    <div class="layui-input-inline" >
					      <input type="text" name="param"  class="layui-input" value="">
					    </div>
					    <label class="layui-form-label" style="width: 120px;">参数值</label>
					    <div class="layui-input-inline" >
					      <input type="text" name="value" class="layui-input" value="">
					    </div>
					    <label class="layui-form-label" style="width: 120px;">参数描述</label>
						    <div class="layui-input-inline" >
						      <input type="text" name="descrip" class="layui-input" value="">
						    </div>
					  </div>


 						<div style="margin-top: 20px;"></div>
 						<button class="layui-btn layui-btn-fluid" lay-submit>保存</button>
					</div>

				</div>


    		</div>

    	</div>

    </div>




  </div>
	  <script type="text/javascript">
	  	var bool = true;
	  	layui.use(['form'], function(){
		  	var form = layui.form;
		  	form.on('submit()', function(data){
				if (!bool) {return false;}
				bool = false;
				var list = [];
				$('.trclass').each(function(index, el) {
					var p = $(this).find('input[name="param"]').val();
					var v = $(this).find('input[name="value"]').val();
					var s = $(this).find('input[name="descrip"]').val();
					if(p == "" || v == ""){return true;}
					list.push({'k':p, "v":v, "s":s});
				});
				var json = JSON.stringify(list);
			  	var data = {"list":json};
			  	// console.log(data);return;
				$.post("/index/setting/parammodify",data,function(rtn){
				  if(rtn.code==200){
				    layer.msg(rtn.msg);
				    setTimeout(function(){
				      window.location.reload();
				    },1500);
				    
				  }else{
				  	bool = true;
				    layer.msg(rtn.msg);        
				  }
				},"json");

			  return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			});
		});

	</script>
  <style type="text/css">
  	html {background-color: #f2f2f2;color: #666;}
  </style>
{include file="layouts/footer" /}